body{
  background: url(images/bg-image1.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.root {max-height: 500;
      max-height:400;
      margin:2%;
}

.root:hover{
  /* border-width:5px; */
  border-color:yellow;
  border-style:solid;
  
}

.btnhover {
  display: none !important;
}
.btnhover1 {
  display: none !important;
}

.root:hover .btnhover {
  display:block !important;
  background-color:red;
 }     

 .root:hover .btnhover1 {
  display:block !important;
  background-color:gray;
 }     

    
